[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cement = "*"
munch = "*"
requests = "*"
arrow = "*"
pyfluence = "*"

[dev-packages]

[requires]
python_version = "3.6"
